# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

# ReScript
*.res.mjs
lib/bs/
.bsb.lock

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
